<ion-view class="walkthrough-view forgot-password-view auth-view" cache-view="false">
    <ion-content>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col text-center">
                        <img ng-src="{{config.logoWhite}}" class="homelogo">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="forgot-password-container">
                            <form name="login_form" class="" ng-submit="doForgot(user.email,config.title)" novalidate ng-cloak>
                                <div class="list">
                                    <label class="item item-input">
                                        <input type="email" placeholder="Email" name="user_email" ng-model="user.email" required>
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="alternative-actions">
                    <a class="forgot-password button button-small button-clear button-light" ui-sref="auth.reset-password">Already have a Code?</a>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-assertive">
        <div class="buttons">
            <a class="button" ui-sref="auth.login">Back to Login</a>
        </div>
        <h1 class="title">&nbsp;</h1>
        <div class="buttons" ng-click="doForgot(user.email,config.title)">
            <button type="button" class="button button-light">Request Code</button>
        </div>
    </ion-footer-bar>
</ion-view>
