<ion-view class="settings-view-advance auth-outer">
    <ion-nav-title>
        <span>Change Password</span>
    </ion-nav-title>
    <ion-content>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col text-center">
                        <img ng-src="{{config.logoWhite}}" class="homelogo">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="forgot-password-container">
                            <form name="login_form" class="" novalidate ng-cloak>
                                <div class="list">
                                    <label class="item item-input" show-hide-container>
                                        <input type="password" placeholder="Old Password" ng-model="user.oldpassword" required show-hide-input>
                                    </label>
                                    <label class="item item-input" show-hide-container>
                                        <input type="password" placeholder="New Password" ng-model="user.newpassword" required show-hide-input>
                                    </label>
                                </div>

                                <button type="submit" class="login button button-block" ng-click="doChange()">Change Password</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
