<ion-view class="walkthrough-view forgot-password-view auth-view" cache-view="false">
    <ion-content>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col text-center">
                        <img ng-src="{{config.logoWhite}}" class="homelogo">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="forgot-password-container">
                            <form name="login_form" class="" ng-submit="resetPassord(user)" novalidate ng-cloak>
                                <div class="list">
                                    <label class="item item-input">
                                        <input type="email" placeholder="Email" name="user_email" ng-model="user.userName" required autocomplete="off">
                                    </label>
                                    <label class="item item-input">
                                        <input type="text" placeholder="Code" name="user_code" ng-model="user.key" required autocomplete="off">
                                    </label>
                                    <label class="item item-input" show-hide-container>
                                        <input type="password" placeholder="New Password" name="user_password" ng-model="user.password" required show-hide-input autocomplete="off">
                                    </label>
                                </div>
                            </form>
                            <p ng-if="!result">Check your email for password reset code.</p>
                            <div ng-if="result" class="alert danger">
                                {{result}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-assertive">
        <div class="buttons"><a class="button" ui-sref="auth.login">Back</a></div>
        <h1 class="title">&nbsp;</h1>
        <div class="buttons" ng-click="resetPassord(user)">
            <button type="button" class="button button-light">Reset Password</button>
        </div>
    </ion-footer-bar>
</ion-view>
