<ion-view class="terms-view walkthrough-view login-view auth-view" cache-view="false">
    <ion-content>
        <div class="row">
            <div class="col">
                <div>
                    <div class="col text-center">
                        <img ng-src="{{config.logoWhite}}" class="homelogo">
                    </div>
                </div>
                <div class="row">
                    <div class="col terms">
                        <h5 style="color: white;text-align:center">Terms & Conditions</h5>
                        <p ng-bind-html="config.terms"></p>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-assertive">
        <div class="buttons">
            <a class="button" ui-sref="auth.signup">Back to Register</a>
        </div>
    </ion-footer-bar>
</ion-view>