<ion-view class="comming-soon" cache-view="false">
    <ion-nav-title>
        <span>{{title}}</span>
    </ion-nav-title>
    <ion-content>
        <div class="row top-content">
            <div class="col">
                <div class="row">
                    <div class="col text-center">
                        <img ng-src="{{config.logoGray}}" class="homelogo">
                    </div>
                </div>
                <h1>This feature is comming soon</h1>
            </div>
        </div>
    </ion-content>
</ion-view>
