<ion-view class="home-tab-view">
    <ion-tabs class="tabs-striped tabs-color-assertive">
        <ion-tab title="Playlist" icon="ion-eye" ui-sref="app.home.playlist.index"><ion-nav-view name="playlist-tab"></ion-nav-view></ion-tab>
        <ion-tab title="View" icon="ion-upload" ui-sref="app.home.upload"><ion-nav-view name="upload-tab"></ion-nav-view></ion-tab>
        <ion-tab title="Savings" icon="ion-cash" ui-sref="app.home.saving"><ion-nav-view name="saving-tab"></ion-nav-view></ion-tab>
        <ion-tab title="Send" icon="ion-paper-airplane" ui-sref="app.home.send"><ion-nav-view name="send-tab"></ion-nav-view></ion-tab>
    </ion-tabs>
</ion-view>
